@import "../../_settings/variables";
@import "../../_settings/mixins";

@font-face {
  font-family: "homeFontBold";
  src: local("homeFontBold"),
    url(../../../assets/static/Quicksand-Bold.ttf) format("truetype");
}

.mobile-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $off-white;
  padding: 2%;
  height: 8vh;
  width: 100vw;
  z-index: 999;
  position: fixed;
  bottom: 0;
  &-icon {
    height: 5vh;
    @include media(laptop) {
      height: 10vh;
      color: $off-white;
      font-size: 1.6rem;
      font-family: "homeFontBold";
    }
    &-link {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    svg {
      color: #5097ab;
      height: 100%;
      width: auto;
    }
  }
}
