@import "../../_settings/variables";

.mobile-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $off-white;
  padding: 2%;
  height: 8vh;
  width: 100vw;
  z-index: 999;
  position: fixed;
  bottom: 0;
  &-icon {
    height: 5vh;
    &-link {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
    svg {
      color: #5097ab;
      height: 100%;
      width: auto;
    }
  }
}
