@import "../../_settings/variables";
@font-face {
  font-family: "homeFontSemiBold";
  src: local("homeFontSemiBold"),
    url(../../../assets/static/Quicksand-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "homeFontBold";
  src: local("homeFontBold"),
    url(../../../assets/static/Quicksand-Bold.ttf) format("truetype");
}

.desktop-navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  position: absolute;
  z-index: 98;
  top: 0;
  text-shadow: 0 0 10px black;
  background: linear-gradient(
    rgb(146, 146, 146),
    rgba(165, 165, 165, 0.4) 40%,
    rgba(165, 165, 165, 0)
  );
  &-icon {
    padding: 3% 2%;

    & h3 {
      color: $off-white;
      font-family: "homeFontBold";
    }
  }
}
