@import "../../_settings/variables";
@import "../../_settings/mixins";

.header {
  margin: 3%;
  position: absolute;
  top: 0;
  height: 5vh;
  width: 10vw;
  @include media(laptop) {
    height: 10vh;
    width: 5vw;
  }
  &-logo {
    height: 100%;
    width: 100%;
  }
}
