@import "../../_settings/variables";
@import "../../_settings/mixins";

.modale {
  @include media(laptop) {
    padding: 2%;
  }
  & button {
    background-color: $off-white;
    cursor: pointer;
    height: 3vh;
    border: none;
    outline: none;
  }
  & svg {
    height: 100%;
    width: auto;
    @include media(laptop) {
      display: none;
    }
  }
}
